<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='anotherstyle.css') }}"> # This will link to the static file in the assets folder
    <title>Document</title> 
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum enim molestias quos. Magni qui voluptatem fugiat explicabo distinctio laudantium nemo rerum perspiciatis iusto mollitia et reiciendis quasi impedit illum ipsum, quos excepturi, ad quo?
</body>
</html>